@use 'varible' as v;

.nav {
    width: 100vw;
    background: v.$nav-color;
    padding: v.$padding-m;

    &-list {
        display: flex;
    }
    &-item {
        margin-top: v.$margin-s;
        margin-bottom: v.$margin-s;
        margin-left: v.$margin-l;
        font-size: v.$font-size-s;
        display: flex;
        > a {
            margin-top: auto;
            color: v.$nav-item-color;
            text-decoration: none;
            font-family: v.$font-default;
            &:hover {
                color: v.$nav-item-color-hover;
            }
        }
        &-icon {
            color: v.$nav-item-color;
            margin-top: auto;
        }
    }
}
